{% load static %}
<div class="navbar fixed flex w-full top-0 z-50 bg-base-100 shadow-lg">
    <!-- Логотип -->
    <div class="navbar-start">
        <a href="/">
            <img src="{% static 'img/macro.png' %}" alt="Домой"
{#                 class="w-14 h-14 mr-1"/>#}
            class="btn btn-xl btn-circle btn-soft normal-case text-xl shadow-xl font-bold brand"/>
        </a>
        <a class="mx-4">
            {% include 'workplaces/partials/spinner.html' %}
        </a>
    </div>
    <!-- Средняя часть навигатора -->
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            {% include "workplaces/partials/navmenu.html" %}
        </ul>
    </div>
    <div class="navbar-end">
        <!-- Переключение темной/светлой темы -->
        <label class="swap swap-rotate shadow-md">
              <input type="checkbox" id="theme-toggle" />
              <i class="swap-on fa fa-sun fill-current w-6 h-6" style="font-size: 24px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"></i>
              <!-- Иконка для темной темы (луна) -->
              <i class="swap-off fa fa-moon fill-current w-6 h-6" style="font-size: 24px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"></i>
        </label>
    </div>
</div>