{% load partials %}
{% partialdef task-status-info %}
    <div id="task-status-info" class="text-sm"
         {% if status == "SUCCESS" %}hx-trigger="success" hx-get="none"
         {% elif status == "FAILURE" %}hx-trigger="failure" hx-get="none"
         {% else %}
         hx-get="{% url 'workplaces:task_status' task_id %}"
         hx-indicator="#spinner"
         hx-trigger="load, every 3s"
         hx-target="this"
             {#            hx-swap="outerHTML"#}
         hx-swap="innerHTML"
         {% endif %}
    >
        {% if task_id %}
            <span class="badge badge-info">{{ status }} по Рабочему Месту с ID:{{ lesson_id }}</span>
            <span class="badge badge-warning">Шаг: {{ task_result }}</span>
        {% endif %}
    </div>
{% endpartialdef task-status-info %}
{% partial task-status-info %}

