<div class="card bg-base-100 shadow-xl mb-2">
    <div class="card-body p-3 text-sm">
        <h3 class="card-title text-bold">Создать новое рабочее место</h3>
        <form hx-post="{% url 'workplaces:list' %}" hx-target="#workplaces-table tbody" hx-swap="beforeend" class="form-control">
            {% csrf_token %}
            <div class="form-group grid grid-cols-1 md:grid-cols-2 gap-1">
                <div>
                    <label class="label">Название Рабочего Места:</label>
                    {{ form.name }}
                </div>
                <div>
                    <label class="label">Отдел</label>
                    {{ form.department }}
                </div>
                <div>
                    <label class="label">Тип Рабочего Места:</label>
                    {{ form.type }}
                </div>
                <div>
                    <label class="label">Описание Рабочего Места:</label>
                    {{ form.description }}
                </div>
                <div id="ip-field" class="hidden">
                    <label class="label">IP</label>
                    {{ form.ip }}
                </div>
                <div id="mac-field" class="hidden">
                    <label class="label">MAC</label>
                    {{ form.mac }}
                </div>
            </div>
            <div class="card-actions justify-start mt-2">
                <button type="submit" class="btn btn-primary btn-sm">Создать</button>
            </div>
        </form>
    </div>
</div>
