<tr id="workplace-{{ wp.pk }}">
    <td>{{ wp.name }}</td>
    <td>{{ wp.description }}</td>
    <td>{{ wp.type }}</td>
    <td>{{ wp.department }}</td>
    <td>{{ wp.ip }}</td>
    <td>{{ wp.mac }}</td>
    <td>
        <button class="badge badge-warning badge-sm hover:bg-indigo-500 mx-1"
                data-url="{% url 'workplaces:update' wp.pk %}"
                onclick="editWorkplace(this)">Update</button>
        <button class="badge badge-error badge-sm hover:bg-indigo-500 mx-1"
{#                    <button class="btn btn-xs btn-error items-center"#}
                hx-delete="{% url 'workplaces:delete' wp.pk %}"
                hx-confirm="Вы уверены, что хотите удалить данные по этому рабочему месту?"
                hx-target="#workplace-{{ wp.pk }}"
                hx-swap="outerHTML">Удалить</button>
    </td>
</tr>
