{% extends "workplaces/base.html" %}
{% load partials %}
{% block title %}Departments{% endblock %}

{% block content %}
<div class="flex justify-center mb-4">
    <h1 class="text-3xl font-bold">Отделы производства</h1>
</div>
<div class="text-center mb-2 pt-2">
    <h2 class="text-xl">Отделы производства</h2>
</div>

<!-- Таблица -->
<div class="overflow-x-auto">
    <table class="table w-full" id="departments-table">
        <thead>
            <tr>
                <th>Название Отдела</th>
                <th>Описание Отдела</th>
            </tr>
        </thead>
        <tbody class="text-sm text-medium" id="dpt-tbody">
            {% partialdef dpt-tbody inline %}
                {% for dpt in departments %}
                    {% include "workplaces/partials/department_row.html" %}
                {% empty %}
                    <tr><td colspan="6" class="text-center">Нет доступных отделов'</td></tr>
                {% endfor %}
            {% endpartialdef dpt-tbody %}
        </tbody>
    </table>
</div>
{% endblock %}