{% extends "workplaces/base.html" %}
{% load partials %}
{% block title %}Staff{% endblock %}

{% block content %}
<div class="flex justify-center mb-4">
    <h1 class="text-3xl font-bold">Сотрудники</h1>
</div>
<div class="text-center mb-2 pt-2">
    <h2 class="text-xl">Сотрудники</h2>
</div>

<!-- Таблица -->
<div class="overflow-x-auto">
    <table class="table w-full" id="staff-table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отдел</th>
                <th>Email</th>
                <th>Внутренний Номер</th>
            </tr>
        </thead>
        <tbody>
            {% partialdef staff-tbody inline %}
                {% for staff in staffs %}
                    {% include "workplaces/partials/staff_row.html" %}
                {% empty %}
                    <tr><td colspan="6" class="text-center">Нет доступных отделов'</td></tr>
                {% endfor %}
            {% endpartialdef staff-tbody %}
        </tbody>
    </table>
</div>
{% endblock %}